body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0px;
}
h1 {
  font-size: 50px;
}
.name-color {
  background: linear-gradient(to right, orange, rgb(219, 45, 14));
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.top-banner {
  display: flex;
  flex-direction: row;
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  margin-bottom: 80px;
}
.half-width {
  flex: 40%;
  padding-left: 5%;
  padding-top: 60px;
}
.half-width img {
  width: 70%;
  padding-top: 50px;
}

.header-details {
  color: #696969;
  margin-bottom: 50px;
  text-align: justify;
  width: 80%;
}
.button {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(-90deg, orange, tomato);
  border-radius: 5px;
  font-weight: 700;

  padding: 10px 40px;
}
.dream-section {
  display: flex;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-bottom: 80px;
}
.experience-section {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.experience-section h1 {
  padding-left: 20px;
}

.experience-section h2 {
  font-size: 40px;
}
.experience-section h3 {
  color: orange;
}
.main-div {
  display: flex;
  padding-bottom: 80px;
  margin: 0 auto;
}

.experience-half-width {
  /*ofset-x,ofset-y,blur-radius,spread-radius,color */
  box-shadow: 10px 10px 30px 10px #888888;

  flex: 40%;
  padding: 40px;
  margin: 5%;
  border-radius: 5px;
}
#wed-dev-experience1 {
  border-left: 7px solid black;
  border-image: linear-gradient(red, orange);

  border-image-slice: 1;
}
#wed-dev-experience2 {
  border-left: 7px solid black;
  border-image: linear-gradient(rgb(52, 18, 243), rgb(20, 234, 241));

  border-image-slice: 1;
}
footer p {
  text-align: center;
  color: #888888;
  margin-bottom: 30px;
}
@media screen and (max-width: 1200px) {
  .top-banner {
    flex-direction: column-reverse;
  }
  .dream-section {
    flex-direction: column;
  }
  .main-div {
    flex-direction: column;
  }
  .half-width img {
    width: 50%;
    padding-top: 50px;
  }
}
